<!-- Section title -->
<div class='section-heading'>

  <h4><%= section_title(title, @role) %></h4>
</div>

<!-- Panel group start -->
<div class='panel-group' id='available-jobs-accordion'>
  <% record_set.each do |record| %>

    <!-- Panel start -->
    <div class='panel panel-default'>

      <!-- Panel heading -->
      <div class='panel-heading' id='heading<%= record.id %>'>
        <h4 class='panel-title'>
          <a role='button'
             data-toggle='collapse'
             href='#record-collapse<%= record.id %>'>
             <div class='row'>
              <div class='col-sm-6'>
                <%= record.company_name %>
              </div>
              <div class='col-sm-6'>
                $<%= record.rate %>, <%= record.location %>
              </div>
            </div>
          </a>
        </h4>
      </div>
      <!--              data-parent='#available-jobs-accordion'
-->

      <!-- Panel body -->
      <div id='record-collapse<%= record.id %>'
           class='panel-collapse collapse'>
        <div class='panel-body'>

          <!-- Award/Apply row -->
          <div class='row'>

            <!-- Award row  -->
            <div class='col-md-8'>
              <% unless record.awarded_application_id.nil? %>
                <h3>Awarded to <%= record.name %></h3>
              <% end %>
            </div>

            <!-- Apply row -->
            <div class='col-md-4'>
              <% if record.awarded_application_id.nil? && @role == 'instructor' %>
                <button type='button' class='btn btn-primary btn-block apply-btn'
                        data-toggle='modal' data-target='#new-app'
                        id='job-id-<%= record.id %>'>
                  Apply
                </button>
              <% end %>
            </div>

          </div>

          <!-- Job information row -->
          <div class='row'>

            <!-- Left column -->
            <div class='col-sm-8'>
              <h3><%= record.company_name %></h3>
              <h4><%= record.location %></h4><br />
              <h3>Rate: $<%= record.rate %></h3>
              <div class='row'>
                <div class='col-xs-12 col-sm-2 col-md-3 col-lg-2'>
                  <p>
                    Requires:
                  </p>
                </div>
                <div class='col-xs-12 col-sm-3 col-md-4 col-lg-4'>
                  <p>
                    <% if record.needs_equipment %>
                      <span class='glyphicon glyphicon-ok-circle'></span>
                    <% else %>
                      <span class='glyphicon glyphicon-remove-circle'></span>
                    <% end %>
                    Equipment
                  </p>
                </div>
                <div class='col-xs-12 col-sm-3 col-md-4 col-lg-4'>
                  <p>
                    <% if record.needs_insurance %>
                      <span class='glyphicon glyphicon-ok-circle'></span>
                    <% else %>
                      <span class='glyphicon glyphicon-remove-circle'></span>
                    <% end %>
                    Insurance

                  </p>
                </div>
              </div>
            </div>

            <!-- Right column -->
            <div class='col-sm-4'>
              <h3><%= record.class_date.to_formatted_s(:long_ordinal)  %></h3>
              <h3><%= record.class_time.strftime("%l:%M %p")  %></h3>
              <h3><%= record.number_of_students  %> students</h3>
            </div>

          </div>

          <!-- Job description row -->
          <div class='row'>
            <div class='col-xs-12'>
              <% unless record.description.blank? %>
                <div class='row'>
                  <div class='col-xs-12'>
                    <h4>Description</h4>
                    <%= record.description  %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <!-- Apply button row (bottom)-->
          <!-- (for use on mobile) -->
          <% if record.awarded_application_id.nil? %>
            <div class='row'>
              <div class='col-xs-12 visible-sm visible-xs'>
                <button type='button' class='btn btn-primary btn-block'
                        data-toggle='modal' data-target='#'>
                  Apply
                </button>
                <!--apply button will open modal-->
              </div>
            </div>
          <% end %>

        </div>
      </div> <!-- /panel body -->

    </div> <!-- /panel -->
  <% end %>
</div>
